{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:tailwindcss/recommended",
    "prettier",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "plugins": ["react", "@typescript-eslint", "react-hooks", "import", "jsx-a11y", "prettier"],
  "settings": {
    "react": {
      "version": "detect",
    },
    "tailwindcss": {
      "callees": ["classnames", "clsx", "ctl", "cn"],
      "config": "packages/tailwind-config/tailwind.config.ts",
      "cssFiles": [],
      "removeDuplicates": true,
    },
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "react/prop-types": "off",
    "tailwindcss/no-custom-classname": ["error", {
      "whitelist": [
        "bg-primary",
        "bg-primary-400",
        "bg-primary-50",
        "text-primary",
        "text-primary-800",
        "bg-light",
        "border-secondary",
        "text-secondary",
        "bg-secondary",
        "text-secondary-foreground",
        "text-accent",
        "bg-accent",
        "text-accent-foreground",
        "bg-muted",
        "text-muted-foreground",
        "bg-destructive",
        "text-destructive-foreground",
        "bg-card",
        "text-card-foreground",
        "bg-third",
        "slide-panel",
        "content-area",
        "sidebar-toggle-container",
        "sidebar-tooltip",
        "toggle-sidebar-btn",
        "shortcut-link",
        "sidebar-options-container",
        "no-animation",
        "visible",
        "extension-container",
        "overflow-visible"
      ]
    }]
  },
  "globals": {
    "chrome": "readonly",
  },
  "ignorePatterns": ["watch.js", "dist/**"],
}
