@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基本面板樣式 */
.slide-panel {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  z-index: 99999;
}

.slide-panel .content-area {
  height: calc(100vh - 60px); /* 假設 header 高度為 60px，請根據實際調整 */
  overflow-y: auto;
  padding: 0.5rem;
}

.slide-panel.no-animation {
  transition: none !important;
}

/* 左側面板 - 明確設定 left 和 right 值 */
.slide-panel.left {
  left: 0px;
  right: unset;
  transform: translate(-100%);
}

/* 右側面板 - 明確設定 left 和 right 值 */
.slide-panel.right {
  left: unset;
  right: 0px;
  transform: translate(100%);
}

/* 左側面板 - 顯示 */
.slide-panel.left.visible {
  transform: translateX(0);
}

/* 右側面板 - 顯示 */
.slide-panel.right.visible {
  transform: translateX(0);
}


/* SidebarOptions 動態定位 */
.sidebar-options-container {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: #64748B 0px 2px;
}

.sidebar-options-container.visible {
  opacity: 1;
  pointer-events: auto;
  /* 當可見時允許點擊 */
}

/* toggle side panel button */
/* 側邊欄切換按鈕容器 */
.sidebar-toggle-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slide-panel.left .sidebar-toggle-container {
  right: -24px; /* 按鈕寬度 */
}

.slide-panel.right .sidebar-toggle-container {
  left: -24px; /* 按鈕寬度 */
}

/* 提示工具樣式 */

.toggle-sidebar-btn .sidebar-tooltip {
  position: absolute;
  visibility: hidden;
  background-color: #333;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1001;
  top: 0;
}

.slide-panel.left .toggle-sidebar-btn .sidebar-tooltip {
  left: 100%;
  margin-left: 8px;
}

.slide-panel.right .toggle-sidebar-btn .sidebar-tooltip {
  right: 100%;
  margin-right: 8px;
}

.toggle-sidebar-btn:hover .sidebar-tooltip {
  visibility: visible;
}

.shortcut-link {
  color: #4dabf7;
}