@import '@extension/tailwindcss-config/base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基本面板樣式 */
.slide-panel {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  z-index: 99999;
}

.slide-panel .content-area {
  flex: 1;
  overflow-y: auto;
  padding: 0.5rem;
}

.slide-panel.no-animation {
  transition: none !important;
}

/* 左側面板 - 明確設定 left 和 right 值 */
.slide-panel.left {
  left: 0px;
  right: unset;
  transform: translate(-100%);
}

/* 右側面板 - 明確設定 left 和 right 值 */
.slide-panel.right {
  left: unset;
  right: 0px;
  transform: translate(100%);
}

/* 左側面板 - 顯示 */
.slide-panel.left.visible {
  transform: translateX(0);
}

/* 右側面板 - 顯示 */
.slide-panel.right.visible {
  transform: translateX(0);
}


/* SidebarOptions 動態定位 */
.sidebar-options-container {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: #64748B 0px 2px;
}

.sidebar-options-container.visible {
  opacity: 1;
  pointer-events: auto;
  /* 當可見時允許點擊 */
}

/* toggle side panel button */
/* 側邊欄切換按鈕容器 */
.sidebar-toggle-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slide-panel.left .sidebar-toggle-container {
  right: -1.25rem; 
}

.slide-panel.right .sidebar-toggle-container {
  left: -1.25rem; 
}

/* 提示工具樣式 */
.toggle-sidebar-btn .sidebar-tooltip {
  position: absolute;
  visibility: hidden;
  background-color: #333;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  white-space: nowrap;
  z-index: 1001;
  top: 50%;
  transform: translateY(-50%);
  transition: visibility 0.3s, opacity 0.3s;
}

.slide-panel.left .toggle-sidebar-btn .sidebar-tooltip {
  left: 100%;
  margin-left: 1.4375rem; 
}

.slide-panel.right .toggle-sidebar-btn .sidebar-tooltip {
  right: 100%;
  margin-right: 0.375rem;
}

.toggle-sidebar-btn:hover .sidebar-tooltip {
  visibility: visible;
  opacity: 1; 
  pointer-events: auto;
}

.shortcut-link {
  color: #4dabf7;
}