@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基本面板樣式 */
.slide-panel {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* opacity 0.3s ease-in-out */
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 9999;
}

.slide-panel.no-animation {
  transition: none !important;
}

/* 左側面板 - 明確設定 left 和 right 值 */
.slide-panel.left {
  left: 0px;
  right: unset;
  transform: translate(-100%);
}

/* 右側面板 - 明確設定 left 和 right 值 */
.slide-panel.right {
  left: unset;
  right: 0px;
  transform: translate(100%);
}

/* 左側面板 - 顯示 */
.slide-panel.left.visible {
  transform: translateX(0);
}

/* 右側面板 - 顯示 */
.slide-panel.right.visible {
  transform: translateX(0);
}


/* SidebarOptions 動態定位 */
.sidebar-options-container {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: #64748B 0px 2px;
}

.sidebar-options-container.visible {
  opacity: 1;
  pointer-events: auto;
  /* 當可見時允許點擊 */
}